$brand: get("coreColors.brand");
$brandSoft: get('coreColors.brandSoft');
$activeBrand: get("coreColors.activeBrand");
$hoverOnBrand: get("coreColors.hoverOnBrand");
$focusOnBrand: get("coreColors.focusOnBrand");
$separator: get("coreColors.separator");

$bgPrimary: get("backgroundColors.bgPrimary");
$bgSecondary: get("backgroundColors.bgSecondary");
$bgFade: get("backgroundColors.bgFade");
$bgShadow: get("backgroundColors.bgShadow");
$bgShadowDarken: get("backgroundColors.bgShadowDarken");
$bgDark: get("backgroundColors.bgDark");

$textPrimary: get("textColors.textPrimary");
$textSecondary: get("textColors.textSecondary");
$textTertiary: get("textColors.textTertiary");
$textInvert: get("textColors.textInvert");

$success: get("statusColors.success");
$negative: get("statusColors.negative");
$warning: get("statusColors.warning");
$accidentOrange: get("statusColors.accidentOrange");
$accidentBlue: get("statusColors.accidentBlue");
$accidentGreen: get("statusColors.accidentGreen");
$accidentDarkPurple: get("statusColors.accidentDarkPurple");
