.ui-select {
  position: relative;
  width: 100%;

  &__select {
    padding: 20px;
    width: 100%;
    border: 1px solid $separator;
    border-radius: $borderRadius;
    appearance: none;
  }

  &__drop-down-icon {
    fill: $brand;
  }
}
