.modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &__overlay {
    display: flex;
    overflow-y: auto;
    padding: 50px 100px;
    width: 100%;
    height: 100%;
    background-color: $bgFade;
  }
}
