.devices {
  position: relative;

  &__section {
    border-radius: 0 $borderRadius $borderRadius $borderRadius;
  }

  &__heading {
    margin-bottom: $mainSize;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__clearButton {
    margin-left: auto;
    width: auto;
  }
}
