.ui-table-row {
  width: 100%;

  &_clicked {
    cursor: pointer;
    user-select: none;

    &:hover {
      $currentBorderColor: rgba(0, 115, 177, 0.3);

      background-color: $softBrand;

      td {
        border-color: $currentBorderColor;

        &:first-child {
          border-left: 1px solid $currentBorderColor;
        }
      }
    }

    &:active {
      background-color: $activeBrand;
      color: $textInvert;

      td {
        border-color: $hoverOnBrand;
      }
    }

    &:focus {
      outline-color: $activeBrand;
    }
  }

  &_active {
    background-color: $activeBrand;
    color: $textInvert;

    td {
      border-color: $hoverOnBrand;
    }
  }
}
