.take-device {
  &__section {
    border-radius: 0 $borderRadius $borderRadius $borderRadius;
  }

  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: $mainSize;
  }

  &__tabs {
    margin-left: auto;
  }
}
