.take-device {
  &__section {
    border-radius: 0 $borderRadius $borderRadius $borderRadius;
  }

  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: $mainSize;
  }

  &__radio {
    margin-left: auto;
  }

  &__form-item {
    & + & {
      margin-top: $smallSize;
    }
  }

  &__notes {
    height: 140px;
  }
}
