.ui-input {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__input {
    margin-bottom: 15px;
    padding: 20px;
    width: 100%;
    border: 1px solid $separator;

    &:focus {
      box-shadow: 0 10px 30px $bgShadowDarken;
    }
  }
}
