.ui-link {
  $parent: &;

  &_label {
    padding: 0 5px;
    width: auto;
    border-radius: 24px;

    &:hover {
      text-decoration: underline;
    }
  }

  &_card {
    padding: 20px;
    box-shadow: $frameShadow;
    color: $textPrimary;
    font-weight: 400;
    border-radius: $borderRadius $borderRadius 0 0;
    transition: background-color $transition;

    &:hover {
      background-color: $softBrand;
    }

    &:focus {
      z-index: 1;
    }

    &#{$parent}_active {
      font-weight: 600;
      background-color: $bgPrimary;
    }
  }
}
