.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 50px;
  width: 100%;
  background-color: $bgPrimary;
  box-shadow: 0 2px 4px $bgShadow;

  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 100%;
  }

  &__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: $borderRadius;
    color: $brand;
    fill: $brand;
  }

  &__user-wrapper {
    position: relative;
  }

  &__toolbar-button-user {
    border-radius: 50%;
    transition: $transition;

    &:hover {
      box-shadow: $focusedShadow $hoverOnBrand;
    }

    &:active {
      box-shadow: $focusedShadow $activeBrand;
    }
  }

  &__user-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 15px;
    width: 256px;
    background-color: #fff;
    box-shadow: $highlightedShadow;
    border-radius: $borderRadius;
  }

  &__user-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 25px;

    & + & {
      border-top: 1px solid $separator;
    }

    &_horizontal {
      flex-direction: row;
    }
  }

  &__user-avatar-container {
    margin-right: 15px;
  }

  &__user-full-name {
    margin-bottom: 5px;
  }
}
