.header {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 50px;
  width: 100%;
  background-color: $bgPrimary;
  box-shadow: 0 2px 4px $bgShadow;

  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 100%;
  }

  &__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 5px;
    color: $brand;
    fill: $brand;
  }
}
