.header {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 50px;
  width: 100%;
  background-color: $bgPrimary;
  box-shadow: 0 2px 4px $bgShadow;
  $parent: &;

  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 100%;
  }

  &__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 5px;
    color: $brand;
    fill: $brand;
    font-weight: 700;

    &:hover {
      color: $hoverOnBrand;
      fill: $hoverOnBrand;
    }
  }

  &__logo {
    width: 35px;
    height: 35px;

    & + #{$parent}__logo-description-container {
      margin-left: 10px;
    }
  }

  &__logo-description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3px;
  }

  &__logo-description {
    display: block;

    &_heading {
      text-transform: uppercase;
    }
  }
}
